.services__top-content{
    text-align: center;
    margin-bottom: 50px;
}
.service__item-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
}
.services__item{
    background: var(--card-bg);
    width: 25%;
    padding: 30px 15px;
    text-align: center;
    border-radius: .5em;
    cursor: pointer;
}
.service__icon{
    height: 60px;
    width: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--icon-bg);
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    margin-bottom: 20px;
}
.service__icon{
    font-size: 2rem;
    color: var(--primary-color);
}
.service__title{
    color: var(--primary-color);
    font-size: 1.3rem;
    margin-bottom: 30px;
}
.light-theme .service__icon{
    background-color: var(--primary-color);
}
.light-theme .service__icon i{
    color: #fff;
}